
// Body
$body-bg: rgb(248, 250, 252);

// Typography
$font: "Asap", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(120, 120, 120);
$light-gray: rgb(225, 225, 225);
$dark-gray: rgb(50, 50, 50);
$blue: rgb(52, 144, 220);
$indigo: rgb(101, 116, 205);
$purple: rgb(149, 97, 226);
$pink: rgb(246, 109, 155);
$red: rgb(227, 52, 47);
$orange: rgb(246, 153, 63);
$yellow: rgb(255, 237, 74);
$green: rgb(56, 193, 114);
$teal: rgb(77, 192, 181);
$cyan: rgb(108, 178, 235);
